@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme Variables */
    --color-card-bg: #ffffff; /* white */

    --color-bg-primary: #e5e5e5; /* neutral-200 */
    --color-bg-line: #d4d4d4; /* neutral-300 */

    --color-border: #c2c0be; /* between neutral 300 and 400 */
    --color-card-sheen: #f7f7f7; /* white */

    --color-link: #c2410c; /* orange-600 */
    --color-link-underline-start: #f97316; /* orange-500 */
    --color-link-underline-end: #fdba74; /* orange-300 */

    --color-title-from: #9a3412; /* orange-800 */
    --color-title-via: #ea580c; /* orange-600 */
    --color-title-to: #d97706; /* amber-600 */

    --color-foreground: #1f2937; /* No match, closest: grey-800 */
  }

  .dark {
    /* Dark Theme Variables */
    --color-card-bg: #0f0f0f; /* Darker to stand out on top of bg-primary */

    --color-bg-primary: #1a1a1a; /* Considerably darker */
    --color-bg-line: #262626; /* Considerably darker */

    --color-border: #2d2d2d; /* Darker than previous slate-800 */
    --color-card-sheen: #121212; /* Matching card-bg for minimal difference */

    --color-link: #f97316; /* orange-600 */
    --color-link-underline-start: #ea580c; /* orange-500 */
    --color-link-underline-end: #d97706; /* amber-600 */

    --color-title-from: #9a3412; /* orange-800 */
    --color-title-via: #ea580c; /* orange-600 */
    --color-title-to: #d97706; /* amber-600 */

    --color-foreground: #f9fafb; /* slate-50 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bgPrimary text-foreground;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is clipped */
  border-right: 0.15em solid rgba(255, 255, 255, 0.75); /* Cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust to your liking */
  animation: typing 3.5s steps(40, end), blinkCursor 0.75s step-end infinite;
}

.signature-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawSignature 5s forwards linear;
  animation-delay: 2s;
  stroke: #1f2937;
  /* stroke: #c2410c; */
}

@keyframes drawSignature {
  to {
    stroke-dashoffset: 0;
  }
}
